#Reviews {
  background: #FEFFFF;
  height:auto;
  text-align: right;
  // overflow: hidden;
  position: relative;
  .container {
    // overflow-x: hidden;
    padding: 10% 0 0 0;
    .row {
      margin-left: 0;
      margin-right: 0;
      .first {
        h6 {
          text-transform: uppercase;
          color: #CDCECF;
          font-weight: 300;
          letter-spacing: 1rem;
          margin-bottom: 5%;
        }
        h2 {
          text-transform: capitalize;
          // width: 50%;
          font-weight: 700;
          font-size: 2.5rem;
          font-family: $storyFont;
          color: #2E2F30;
        }
        .reviewContainer {
          min-height: 500px;
          overflow: hidden;
          .review {
            display: inline-block;
            width: 100%;
            .reviewQuote {
              padding: 10% 0;
              font-weight: 700;
            }

            p {
              word-spacing: 1px;
              padding: 0 0 10% 0;
              line-height: 1.5rem;
              color: #6b6b6b;
            }
            .quote {
              padding-bottom: 20%;
              color: #060606;
              font-weight: 700;
              span {
                font-size: .9rem;
                font-weight: 100;
                color: gray;
              }

              strong {
                color: #BCBDBE;
                font-weight: 700;
                font-style: italic;
              }
            }
          }
        }

        .arrow {
          padding: 0 10% 0 0;
          a {
            padding: 0 10% 0 0;
            color: #BCBDBE;
            cursor: auto;

            .fa-arrow-left {
              text-decoration: none;
              font-size: 1.5rem;

            }
            .fa-arrow-right {
              text-decoration: none;
              font-size: 1.5rem;
            }
            &.active {
              color: #2E2F30;
              cursor: pointer;
            }
          }
        }
        .reserve-btn {
          padding: 3%;
          border: 1px solid black;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 1.5rem;
          color: black;
          font-family: $restaurantTitleFont;
        }

      }

    }
  }

  @media (max-width: 767px) {
    .container {
      padding: 10% 0;
      .row {
        .first {
          text-align: center;
          // width: 50%;

          .arrow {
            padding: 0;
            a {
              padding: 0 5% 0 0;
            }
          }
        }
        .second {
          text-align: center;
          margin-bottom: 5%;
        }
      }
    }

    @media (max-width: 400px) {
      .container {
        .row {
          .second {
            img {
              width: 90%;
            }
          }
        }
      }
    }
  }
}
